[submodule "apps/momentum-factor"]
	path = apps/momentum-factor
	url = https://github.com/bryanmehsmith/basic-jse-momentum-factor.git
[submodule "apps/factor-regression"]
	path = apps/factor-regression
	url = https://github.com/bryanmehsmith/factor-regression-lab.git
[submodule "apps/nn-foundations"]
	path = apps/nn-foundations
	url = https://github.com/bryanmehsmith/nn-foundations-lab.git
[submodule "apps/security-anti-patterns"]
	path = apps/security-anti-patterns
	url = https://github.com/bryanmehsmith/security-anti-patterns.git
